<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>meow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/add_product.js"></script>
</head>
<body>
<form method="post">
    <input id="name" name="name" placeholder="Название">
    <button id="add" style="background-color: lightblue; border-color: darkslategrey; color: darkslategrey; height:25px;width:50px">add</button>
</form><br>
<a href="/">
    <button style="background-color: lightblue; border-color: darkslategrey; color: darkslategrey; height:40px;width:70px">back</button>
</a>
</body>
</html>